cluster:
  name: presentium

externalServices:
  prometheus:
    writeEndpoint: '/api/v1/push'
    host: http://lgtm-mimir-nginx.monitoring
  loki:
    host: http://lgtm-loki-gateway.monitoring
alloy-logs:
  controller:
    type: daemonset
    nodeSelector:
      kubernetes.io/os: linux
      karpenter.sh/registered: 'true'
metrics:
  cost:
    enabled: false
opencost:
  enabled: false
